<!doctype html>
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CHARS Feasibility</title>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
		<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
		<link href="/css/main_stylesheet.css" rel="stylesheet" type="text/css">
		
		<style>
			.grid-container {
				grid-template-columns: repeat(5,auto);
			}
		
		
		</style>
	</head>
	
	<body>
		<h1>Canadian High Arctic Research Station Expansion Feasibility Study</h1>
						
						
		<p>
			<span style="font-weight:bold;">BARE Engineering and Consulting Ltd.</span> is interested in the task of the 
			design and construction of an additional building to the Canadian High Arctic Research Station 
			(CHARS)premises. This additional building will be a stand-alone state of the art renewable energy building 
			known as the Renewable Energy Centre (REC). This new structure will be located north-west of the existing 
			Field and Maintenance building at the CHARS facility, in Cambridge Bay, Nunavut. Plans are being prepared 
			for the proposed development of the site with a new eco-friendly building tasked with eliminating the 
			dependability of burning fossil fuels to provide energy in Canada's Arctic. BARE Engineering and Consulting 
			Ltd. has performed a feasibility study of several criteria, constraints, schedule, budget, location, and 
			possible approach that would be associated with the design of the structure. The intent of this report is to 
			investigate the feasibility of implementing different geotechnical (foundation), structural, environmental, 
			and social options. Preliminary alternatives were analysed based on several criteria to determine the optimal 
			solution in each category to provide a safe, sustainable, and efficient new building for the country. We are 
			pleased to be apart of such a world-renowned facility. Northern Canada is one of many remarkable parts of the 
			nation, rich with heritage and national identity and the development of this historic area has been a focal 
			point for the country. We at BARE are pleased to take on the responsibility and challenge of providing our 
			client with an exceptional project from beginning to close-out. Preparation of this feasibility report 
			provides preliminary findings and conclusions regarding several aspects of the project.	
		</p>
				
		<hr>
		<div class="grid-container">
			<div class="grid-item">
				<a href="/">Home</a>
			</div>
			<div class="grid-item">
				<a href="/Portfolio">Portfolio</a>
			</div>
			<div class="grid-item">
				<a href="/Work-Experience">Work Experience</a>
			</div>
			<div class="grid-item">
				<a href="/Education">Education</a>
			</div>
			<div class="grid-item">
				<a download
				   href="" >
				Full Report</a>
			</div>
		</div>
	</body>
</html>