<nav class="app-band-nav skyrim-nav <%= compact ? 'skyrim-nav-compact' : '' %>">
    <% links.forEach(function (link) { %>
        <a href="<%= link.href %>" <%- link.href === page.path ? 'aria-current="page"' : "" %>><%= link.label %></a>
    <% }); %>
</nav>
