<div class="grid-container skyrim-nav <%= compact ? 'skyrim-nav-compact' : '' %>">
    <% links.forEach(function (link) { %>
        <div class="grid-item">
            <a href="<%= link.href %>"><%= link.label %></a>
        </div>
    <% }); %>
</div>
