<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>231 Cobourg Foundation</title>
	<link href="../../assets/css/style.css" rel="stylesheet" type="text/css">
	<link href="/css/style.css" rel="stylesheet" type="text/css">

	<style>			
		body {
			margin: auto;
			width:80%;
			max-width: 500px;
			padding: 0px 20%;
		}
				
		a {
			font-size:24px;
		}	
		
		p {
			
			text-align: justify;
		}
		
		li {
			font-size: 14px;
		}
		
		nav {
			padding:50px 0%;
		}
		
		nav h1 {
			paddng:0px 0px 0px 0px;
			margin:0px 0px 0px 0px;
		}
		p {
			font-size:14px;
			width:100%;
			padding:0px 0px 20px 0px;
			text-align: justify;
		}
		
		
		h3 { 
			height:8px;
			padding: 0px 0px 0px 0px;
		}
		
		h4 {
			height: 14px;
			padding: 0px 0px 0px 0px;			
		}
		
		.collapsible {
			background-color: white;
			color: black;
			cursor: pointer;
			padding: 5px;
			width: 100%;
			height:5px;
			border: none;
			text-align: left;
			outline: none;
			font-size: 24px;
		}

		.active, .collapsible:hover {
			background-color: white;
			font-weight: bold;
			color: black;
		}

		.content {
			padding: 0 8px;
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.2s ease-out;
			background-color: white;
			color: black;
		}
		
		.grid-container {
			width: 100%;
			padding:0px 0px 0px 0px;
			margin: 0px 0px 0px 0px;
		}

		.grid-item a {
			font-size: 14px;
		}
		
		.content p {
			padding: 0px 0px 0px 0px;
			width: 100%;
		}
		
		.null:hover {
			text-shadow: 0 0 0 black;
		}		
	</style>

	<!meta name="viewport" content="width50%, initial-scale=1">
</head>

<body>		
	<h1>Foundation Design for 231 Cobourg Ave</h1>
	
	<button class="collapsible">Introduction</button>
	<div class="content">
		<p>	
			On the corner of Cobourg Street and Wilbrod Ave in Sandy-Hill, Ottawa, rests a two-story residential building. 
			A new building has been proposed for construction on the existing site. The building will be an eight-floor 
			condominium mostly for residential use. The location is 270m west of the Rideau River and the proposed building’s 
			foundation will rest primarily on sand. The area is a residential neighborhood; locally it is flat with no apparent 
			hills.
		</p>
		<p>
			The objective of this report is to design an adequate shallow foundation for the proposed condominium. The soil 
			composition on-site is (in order of increasing depth) surface topsoil- including small vegetation (shrubs, grass 
			and small trees)-, sand, Leda clay and then bedrock.
		</p>
		<p>
			With this and other information obtained from subsurface condition reports, a raft foundation was designed that would 
			be able to withstand the weight of an eight-floor condominium. Factors considered were the standard penetration numbers 
			of a cone penetrometer test at both bore holes, the ground hydrology conditions, and the shear strength of the soils 
			found in the borehole tests. This information was used to determine if the proposed foundation met requirements based 
			on soil bearing capacity and elastic settlement.
		</p>
	</div>
	
	<button class="collapsible" >Site Investigation Report</button>
	<div class="content">
		<p>
			On December 13, 2016 AATECH, on behalf of Ten-2-Four Architecture Inc, conducted a geotechnical investigation on-site at 
			231 Cobourg street Ottawa, Ontario. The site is in Sandy-Hill, a residential neighborhood adjacent the Rideau River. The 
			local area is flat. Two boreholes were drilled at opposite ends of the site’s Cobourg street face. Subsurface soil samples 
			were obtained (up to a depth of 11.9m) and tested. While strata information was only obtained for the plane adjacent 
			Cobourg street, because the area is flat, and the site has a very gradual 1% slope, in our design, we will assume the strata 
			extends unchanged across the site.
		</p>
		<h3>Soil Profile</h3>
		<p>
			In order of increasing depth, both boreholes showed layers of grass and organic materials, dry sand (varying compaction), 
			unsaturated plastic clay and saturated plastic clay. 
		</p>
		
		<ol type="a">
			<li>
				<h4>Grass and Organic Material</h4>
				<p>
					The grass and organic materials layer is very thin at only 10cm and is primarily composed of grass. Some shrubs and 
					small decorative plants are also present on-site. This layer’s thickness does not vary with respect to location on site.
				</p>
			</li>
			
			<li>
				<h4>Dry Sand</h4>
				<p>
					Extending to a depth of 1.8 m from the organic layer, the sand layer is reasonably compacted with an SPT reading of 9 
					and 10 for BH-1 (borehole 1) and BH-2 respectively. It has a unit weight of 17.5 kN/m3. This sand is sand-fill from the 
					current building and is poorly graded (SP).
				</p>
			</li>
			
			<li>
				<h4>Grey Clay</h4>
				<p>
					After the dry sand, extending to bedrock, was found grey clay. The clay’s moisture content and stiffness increased with 
					depth. Average moisture content of clay above water table was 56.65% and 71.13% below. The clay is a sensitive marine 
					clay, common to the Ottawa region, called Leda clay. By Cassagrande’s Plasticity chart, the clay may be classified as an 
					inorganic clay of high plasticity (CH) though in actuality, it contains decomposed organic matter left over from the 
					Champlain Sea.
				</p>
			</li>
		</ol>
		
		
		<h4>Figure 1 Site subsurface conditions. The rectangles on either side are the boreholes. Units are in meters and the grey rectangle is 
			existing building. <br>
		</h4>
		<h4>Soils in Figure 1 are (from top to bottom): Topsoil, Sand Fill, Leda Clay above water table, Leda Clay below water table.
			For borehole data, consult appendix B</h4>
		<br>
		<div>	
			<img src="https://chi01pap001files.storage.live.com/y4muXdRXQAB7SG86cI5mAXCDZRLxPKZyyANpQ7H6QWsuwAEmGedHwrF6nwXSkQ-PPZgU1y3XHq1rrCTsLqSHhUExu7HcK-HWD20biQEuIHwx9NcA3L66CITy7lh5BDbHnBCgpmc47YPeegZNRMxIOzc7PbUFx5khxbZHO9V2_XtmxlZa5c2UXDAkRplT9cOz_5z?width=1090&height=542&cropmode=none"
				 style="max-width: 100%;">
		</div>
		
		
		<h3>Ground Hydrology</h3>
		<p>
			The depth of the water table increases when moving south along the plane created by BH-1 and BH-2. The water-table is at a depth 
			of 4.2m below the surface at BH-1 and a depth of 4.8m at BH2. It is also worth noting that in both the pocket penetrometer and 
			vane shear tests, the average strength of the moist/wet clay at BH2 was higher than at BH1. This is likely because of the 
			consolidation resulting from the existing building.
		</p>
		
		<h3>Relevant Information</h3>
		<h4>Blow Count</h4>
		<p>
			From ten-2-four’s report, the uncorrected standard blow counts were obtained for boreholes one and two. These blow counts were 
			corrected with Liao and Whitman’s relationship and are summarized in appendix D.
		</p>
		
		<h4>Soil Strength</h4>
		<p>
			From the vane shear and pocket penetrometer tests performed by AATECH, it is known that the strength of the sand is considerably 
			higher than that of the clay. This will be important when determining the foundation’s bearing capacity.
		</p>
		
	</div>

	<button class="collapsible" >Design Procedure</button>
	<div class="content">
		<p>
			The proposed building is to be an eight-floor condominium with the same footprint as the current building at 231 Cobourg Street. 
			From Robertson Martin’s new building proposal (Appendix A) we know the dimensions to be 10.4m x 20.4m. The longer side faces 
			Cobourg Street.
		</p>
		<ul>
			<li><p>
					From NBC 2006, dead load from a concrete floor is 0.24 kPa. With HVAC, walls and finishes installed, a reasonable assumption 
					for specified dead load per floor is 1.5 kPa.
			</p></li>
			
			<li><p>
					A typical condominium allots ten feet per story. At eight stories, the building’s height would be eighty feet or 24.38m.
			</p></li>
			
			<li><p>
					Because the condominium’s rooms are mixed use (office, bedroom, kitchen...) under clause 4.1.5.8 of NBC-2006, the live load 
					per floor is the largest of its uses’ loads. In this case, from table 4.1.5.3, the greatest specified live load is 2.4 kPa for 
					work areas within live/work units.			
			</p></li>
			
			<li><p>
					From NBC-2010 and local information snow load is 2.32 kPa for ULS and 2.09kPa for SLS.
			</p></li>
			
			<li><p>
					From NBC-2010 and local information wind load is ± 0.77 kPa (ULS) and ±0.58 (SLS).
			</p></li>
		</ul>

		<h3>Total Vertical Load</h3>
		<p>For vertical load, conditions 1,2 and 3 of NBC-2006 table 4.1.3.2 apply.</p>
		<ul>
			<li><p>Governing loading case for floors 1-8 is 2, and for the roof it is 3.</p></li>
			<li><p>Factored live load = 1.5(2.4 kPa) = 3.6kPa</p></li>
			<li><p>Factored dead load = 1.25(1.5kPa) = 1.875 kPa </p></li>
			<li><p>Factored snow load = 1.5(2.32kPa) = 3.48 kPa</p></li>
			<li><p>Total Building Load = 8(3.6 + 1.875) + (1.875 + 3.48) = 49.155 kPa</p></li>
			<li><p>For good measure, building load at base = 50kPa.</p></li>
			<li><p>Because of the building’s small footprint, we assume that nine columns support each floor. Evenly spaced along x and y axes.</p></li>
		</ul>
		
		<h4>Figure 2 Column plan at footprint. Dimensions are in meters.</h4>
		<div>	
			<img src="https://chi01pap001files.storage.live.com/y4mpNpqUa_ePk6AdBzSMiCASP-P8Rg05wa9h-Sk9v04QkjiOtdYR7Qq5AF7NowWBxREQQ60hbUWnr2877juG-Kkq9lDyvfMmOetmFbVV9CKwZMssUQ4EHOEsqTgYCI5ASfCxOs0RxzLkVZjxLcmNc3qW43IEbPOS6M_jcCbEhXreD7RJZRKunDgjAB_D5Kukvnj?width=1388&height=820&cropmode=none"
				 style="max-width: 100%;">
		</div>
		
		<h3>Considerations for Foundation</h3>
		<p style="padding:0px 0px 0px 0px;">
			Frost penetration: The depth of frost penetration in Ottawa is estimated at 1.8m. To account for this, an unheated structure’s 
			foundation would have to rest beneath this level to prevent settlement from permafrost-melting. However, foundations for a 
			continuously-heated structure like the one in question, could rest at or below a depth of 1.4m; Df > 1.4.
		</p>		
		<p>
			Because the building sits on a combination of sand and stiff clay, continuous footing will be used in preliminary design. In 
			accordance with existing building, footing will run underneath the three spans of columns along the shorter dimension. Therefore, 
			rows A and C have a tributary area of 10.4m x 5.1m where row B has a tributary-area of 10.4 m x 10.2m.
		</p>
		
		<h4>Figure 3 Tributary areas for columns at footprint. Dimensions are in meters.</h4>
		<div>	
			<img src="https://chi01pap001files.storage.live.com/y4mH1oZJrAcrVfErdQ2B9lZg3GtvXAbwiPNLS5o8Jt3nz99cGaMecEIRzuP-RFddScU7F7jlM7xy89pAXJJHmAMmPVopdu7I-LKAAcZb230gnZfquCiP908z0IH-a7p4NPUb44IU-jiaKuSP2cPjrUMxWG5oLYDbtOncqClsiFpftPO6_jOs8eVvpSlXHN4yNen?width=1029&height=603&cropmode=none"
				 style="max-width: 100%;">
		</div>
		
		<p>
			It follows that for ULS, footing under rows A and C must support a load of 2652kN and row B 5304kN. The total building load is 10 608kN.
		</p>
		
		<p>
			For the foundation to be considered a continuous foundation the sum of its areas must be less than half of the building’s footprint. 
			Divided by three rows, B < 3.4m.
		</p>
		
		<h3>Foundation Version One ULS</h3>
		<p>The first design we will consider is a continuous footed foundation. Df = 1.4m, B = 3.4m</p>
		<p></p>
		<p>For details on calculations consult (appendix D)</p>
		<p>The calculated bearing strength of this footing, with FS = 3, is 52.24kPa</p>
		<p>With foundation size 10.4m x 3.4 m, Qall = 1847.41 kN < 2652 kN</p>
		<p>This foundation is therefore inadequate and continuous foundations cannot be used for the proposed footprint and soil profile.</p>
		
		<h3>Foundation Version Two; Raft Foundation ULS</h3>
		<p>Df = 1.4m,B = 10.4m,L = 20.4m</p>
		<p>The calculated bearing strength of this footing, with FS = 3, is 52.24kPa</p>
		<p>With foundation size 20.4m x 10.4m (raft), Qall = 11 269.3 kN > 10 608 kN</p>
		<p>This foundation design thus passes ULS condition.</p>
		
		<h3>Foundation Version Two; Raft Foundation SLS</h3>
		<p>To pass serviceability limit states, the proposed foundation must have an adequate bearing capacity as calculated with settlement considered. 
			For a raft foundation, a settlement of 50.8mm will be considered.</p>
		<p>With equation 3.1, bearing capacity based on settlement was found to be 113.19 kPa. This is adequate.</p>
		
	</div>

	<button class="collapsible" >Discussion and Conclusion</button>
	<div class="content">
		<h4>Figure 4 Foundation along line 2 (see figure 3). Dimensions are in meters</h4>
		<div>	
			<img src="https://chi01pap001files.storage.live.com/y4m3yjv7v35t9EnIG_ufSZsezdT11b4zzL9PZQ2zDmmEUwGvQpLu1HYZV_QKMR_dqjM_nNe-biEIyqzKa95nxD0KJ66dd6peAiankm7XFiIZH7allJyWXIqGZoyKFuSGndJZeqaY5T7rNQwjnNA5n5RciMgbt-LMjbqHgxLtvKuA0zQ94oOEyuZ8eCxHVSb8cIh?width=1622&height=518&cropmode=none"
				 style="max-width: 100%;">
		</div>
		
		<p>
			Through the performed calculations, it was determined that a raft foundation at a depth of 1.4m below the surface would be sufficient to 
			withstand the factored loads of an eight-story condominium. The maximum allowable bearing strength of the foundation on the soil mixture 
			underneath was found to be 52kPa at a safety factor of three. The maximum load as determined through allowable settlement is 113kPa. This 
			is the smaller of the two cases and therefore governs.
		</p>
		
		<p>
			As per ten-2-four’s recommendations, the foundation should be underlain by a layer (at least 250 mm thick) of compacted - to 98% of the 
			Standard Proctor Maximum Dry Density (SPMDD), dry, gravel. Furthermore, to prevent differential settlement, the sand layer should be 
			compacted to the same degree as the gravel. Furthermore, any disturbed clay found under the foundation, should be removed, and replaced 
			with compacted dry sand.
		</p>
		
		<p>
			With a maximum allowable load of 113kPa, the foundation has a safety factor slightly greater than two. This is reasonable and acceptable 
			for our purposes. However, standard practice requires a safety factor of three in design. With safety in mind, it may not be a good idea 
			to construct a shallow foundation in this fashion. Given the size of the construction, it may be preferable to design a pile foundation 
			into bedrock.
		</p>
	</div>
	
	
	<button class="collapsible" >Appendix</button>
	<div class="content">
		<a href="https://onedrive.live.com/embed?cid=8912A15B8F0CAFF4&resid=8912A15B8F0CAFF4%212389&authkey=AKNqQbhyMKF3bvk&em=2" download style="font-size: 14px;">
			Click here for original report.</a>
	</div>
	<p></p>
	<hr>
	<div class="grid-container">
		<div class="grid-item">
			<a href="/">Home</a>
		</div>
		<div class="grid-item">
			<a href="/Portfolio">Portfolio</a>
		</div>
		<div class="grid-item">
			<a href="/Work-Experience">Work Experience</a>
		</div>
		<div class="grid-item">
			<a href="/Education">Education</a>
		</div>
	</div>
		
	<script>
		
		function expandcollapse(element){
			var content = element.nextElementSibling;
			if (content.style.maxHeight){
				content.style.maxHeight = null;
			} else {
				content.style.maxHeight = content.scrollHeight + "px";
			} 	
		};
		
		
		var coll = document.getElementsByClassName("collapsible");
		var i;
		
		for (i = 0; i < coll.length; i++) {
		  coll[i].addEventListener("click", function() {
			this.classList.toggle("clicked");
		  });
		}
		
		for (i = 0; i < coll.length; i++) {
		  coll[i].addEventListener("mouseover", function() {
			  if (!this.classList.contains("clicked")){
				this.classList.toggle("active");
	  			expandcollapse(this);
			  }	  
		  });
		}
		
		for (i = 0; i < coll.length; i++) {
		  coll[i].addEventListener("mouseout", function() {
			if (!this.classList.contains("clicked")){
				this.classList.remove("active");
				expandcollapse(this);
			}  			
		  });
		}
	</script>	


</body>
</html>
