<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Wavelets and EFT</title>
	
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	<link href="/css/main_stylesheet.css" rel="stylesheet" type="text/css">
	<! mathjax >
</head>
	
<body>
	<header><h1>Some Notes on Wavelets and the Extended Fourier Transform</h1></header>
	
	<hr>
	<nav>
		<a href="/">Home</a>
		<a href="/Portfolio">Portfolio</a>
	</nav>
	
	<p>

	</p>
</body>
</html>