<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Parametric Space</title>
		<link href="/css/main_stylesheet.css" rel="stylesheet" type="text/css">

		<style>
			body {
				width:40%;
			}
			
			p {
				width: 100%;
			}
				
			.grid-container {
				width: 100%;
				grid-template-columns: auto auto auto auto auto;
				padding:0px 0px 0px 0px;
				margin: 0px 0px 0px 0px;
			}

			.grid-item a {
				font-size: 14px;
			}

			.content p {
				padding: 0px 0px 0px 0px;
				width: 100%;
			}

			.null:hover {
				text-shadow: 0 0 0 black;
			}		
		</style>
	</head>
	
	<body style="font-family: Helvetica,Arial;">
		<header><h1>Parametric Space</h1></header>
		
		<img style="width: 200%;margin-left:-50%;"
			 src="https://chi01pap001files.storage.live.com/y4mUZQ43HVZDJXiO1_938VEMTSWcCx-l6uO4n06uSuNiWWwLxyBkSLo4mLkKjEN_GmRwFBKuIMiSvxfykUu03uI10ijvyGNWlHkJ9NScmOJDpDHplMRVLRD7Hv0HqDKRzmgV-GgFgSmU9koeuu2yytESlH8m52uIN24f1ggGoXQ35f0pjEcSXOsx1oFf-wzJo6U?width=2007&height=500&cropmode=none">
				
		
		<h2>Delocalization, Hubs, and Bridges</h2>
		<p>
			An idea exists beyond any attempts to describe it. The collective agreement of observers 
			becomes the idea.
		</p>
		
		<img style="width: 70%;align-content: center;margin:0px 0px 0px 15%;padding:0px 0px 0px 0px;"
			 src="https://chi01pap001files.storage.live.com/y4mNp7spBS6kuXt9DT9DlhtZFLeWnLk_mCqXWcZFhP2rPCECMzr87oqKEah3yNzQiKjbmAG-jw9QH_bHXoasSxSbnEJ-Hbn12Rvk9LL--bQlnH31yDilV0kFA2hba2q6vBzuTA_owOTIM5vhjKtcw0IlBPROcedvF6rtC8391mo7t_sVF00HSuwFUKn9w68FZfL?width=415&height=330&cropmode=none">
		
		
		<p style="padding: 0px 0px 0px 0px;">
			The spatial expression of an idea can be represented by a group of connected hubs. Each hub 
			is a different aspect, and some are connected. Hubs were modelled as circles with random 
			radii. They were spaced such that there was no overlap, and each hub was connected to its 
			nearest neighbor. To unify the hubs as an expression of the collective, they were converted 
			to rectangles (with the same area as the circle which formed it) and oriented towards the 
			nearest hub. A bridge connects each hub to its nearest neighbor, corner to corner. The center 
			of the cluster was calculated as the centroid of the hubs. 
		</p>

		<p>	
			The process structures random data into some determined pattern. Accordingly, it can be repeated 
			for an arbitrary number of hubs and levels. A 3d virtualization was created from bridge-hub data. 
			The pattern which structures these hubs relates to proximity to neighbors. Future pattens may 
			include more factors and be more indeterminate than the one herein explored. 
		</p>

		<hr>
		
		<div class="grid-container">
			<div class="grid-item">
				<a href="/">Home</a>
			</div>
			<div class="grid-item">
				<a href="/Portfolio">Portfolio</a>
			</div>
			<div class="grid-item">
				<a href="/Work-Experience">Work Experience</a>
			</div>
			<div class="grid-item">
				<a href="/Education">Education</a>
			</div>
			
			<div class="grid-item">
				<a href="https://github.com/not-JASH/Parametrics">GitHub</a>
			</div>
		</div>
	</body>
</html>