<!doctype html>
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Education</title>
	
	<link href="/css/main_stylesheet.css" rel="stylesheet" type="text/css">
	<style>

	</style>
</head>

<body>
	<nav>
		<a href="/">Jashua Luna</a>
		<a href="/Portfolio">Portfolio</a>
		<a href="/Work-Experience">Work Experience</a>
		<h1>Education</h1>
	</nav>
	
	<button class="collapsible">Bachelor of Applied Science in Civil Engineering</button>
	<div class="content">

	</div>
		
	<button class="collapsible">Computer Programming Diploma</button>
	<div class="content">
	
	</div>
				
	
	
	<script>
		var coll = document.getElementsByClassName("collapsible");
		var i;

		for (i = 0; i < coll.length; i++) {
		  coll[i].addEventListener("click", function() {
			this.classList.toggle("active");
			var content = this.nextElementSibling;
			if (content.style.maxHeight){
			  content.style.maxHeight = null;
			} else {
			  content.style.maxHeight = content.scrollHeight + "px";
			} 
		  });
		}
	</script>	
	
</body>
</html>
