<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Home Page</title>
	
	<link href="/css/main_stylesheet.css" rel="stylesheet" type="text/css">
	
	<style>	
	</style>
</head>
	
<body>
	<nav>
		<h1>Jashua Luna</h1>
		<a href="/Portfolio">Portfolio</a>
		<a href="/Work-Experience">Work Experience</a>
		<a href="/Education">Education</a>
	</nav>
	<h2 style="color:orange">Please note this website is under construction.</h2>
	<br>
	
	<p>
		I am a Civil Engineering Graduate, with a wealth of knowledge stemming from multiple 
		disciplines, who enjoys solving complex problems. I have a strong background in 
		mathematics and programming and can work independently with minimum supervision.
		With my undergraduate studies completed and graduate studies on the horizon, I hope to 
		find employment I can be passionate about to make a strong start to a successful career. 
	</p>
	<br>
	

</body>
</html>
