<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Jashua Luna</title>
		
		<link href="/css/main_stylesheet.css" rel="stylesheet" type="text/css">
		
		<style>
			body {
				width: 100%;
				max-width:none;
				padding:0px 0px 0px 0px;
			}
			
			a {
				display: block;
				font-size: 14px;
			}
			
			a:active {
				font-weight:normal;
			}
			
			/*table,th,td {
				border: 1px solid black;
				border-collapse: collapse;
			}*/
			
			td, th, ol {
				font-size: 14px;
			}
			
			li {
				font-size: 14px;
				margin-bottom:4px;
			}
			
			.at {
				vertical-align: top;
			}
			
						
			.index {
				position:fixed;
				width:200px;
				top:90px;
				left:50%;
				margin-left:-550px;
			}
			
			.main-text {
				align-content: center;
				margin:auto;
				width: 550px;
			}			
			
			.index a{
				font-size:16px;
			}

			.index a:hover {
				color:white;
				background-color: black;
			}

			.index nav {
				padding:0px 0px 0px 0px;
			}
			
			img {
				max-width: 100%;
				margin-left:auto;
				margin-right:auto;
				display: block;
			}
			
			h5 {
				padding-left:20px;
			}
			
			.fig {
				padding-left: 0px;
				font-size: 12px;
				text-align: center;
			}
			
			.portfolio-item .image{
				width: 550px;
				height: 310px;
				background-color:aqua;
			}
			
			.portfolio-item h2{
				height:50px;
			}
			
		</style>
	</head>
	
	<body>		
		<div class="index">
			<nav>
				<a href="/">Home</a>
				<!--a href="/Work-Experience">Work Experience</a-->
				<!--a href="/Education">Education</a-->
			</nav>
			<hr>
			<nav>
				<a class="index-item" href="#CHARS-Feasibility">Arctic Research Station Feasibility Report</a>
				<a class="index-item" href="#231-Cobourg-Foundation">Shallow Foundation Design for 231 Cobourg</a>
				<a class="index-item" href="#CHARS-Design">Waste-to-Energy Plant Design for CHARS</a>
				<a class="index-item" href="#TenthLine-Foundation">Foundation Design for Proposed Development at Tenth Line</a>
				<a class="index-item" href="#FTWT-Notes">Notes on Wavelets and the Extended Fourier Transform</a>
				<a class="index-item" href="#CGTD">Computer Generated Training Data</a>
				<a class="index-item" href="#Parametric-Space" >Parametric Space</a>
				<a class="index-item" href="#WaveGAN">WaveGAN</a>
				<a class="index-item" href="#CryptoAI-Proposals">Proposals for a Trading AI</a>
				<a class="index-item" href="#Skyrim-TrueNord">Elder Scrolls V Skyrim: True Nord Edition</a>
				<a class="index-item" href="#AIArt">AI &amp Art</a>			
			</nav>
		</div>
		
		<div class="main-text">		
			<h1>Portfolio</h1>
			
			<div class="portfolio-item" id="landing-placeholder">
				<!--div class="image"></div-->				
				<h2>Welcome to my portfolio.</h2>
				
			</div>
			
			<div class="portfolio-item" id="CHARS-Feasibility" style="display: none;">
				<!--div class="image"></div-->		
				
				<h2>Feasibility Study for an Expansion at the Canadian High Arctic Research Station.</h2>
				<div class="grid-container" style="grid-template-columns: 300px auto;">
					<div class="grid-item" style="text-align: left;font-size: 12px;">
						<span>Autumn 2017</span>						
					</div>
					<div class="grid-item" style="text-align: right;font-size:12px;">
						<a href="/CHARS-Feasibility">More Info</a>
					</div>		
				</div>		
				<p>
					A study of renewable energy production technologies and arctic building techniques to determine the viability of building a power-generating
					expansion to POLAR Knowledge Canada's High Arctic Research Station in Cambridge Bay, Nunavut. This was in collaboration with, and presented 
					to, representatives from POLAR Knowledge Canada and the University of Ottawa's Civil Engineering Department. 
				</p>
			</div>
			
			<div class="portfolio-item" id="231-Cobourg-Foundation" style="display: none;">
				<!--div class="image"></div-->		
				
				<h2>Shallow Foundation Design for a Condominium at 231 Cobourg Ave.</h2>
				<div class="grid-container" style="grid-template-columns: 300px auto;">
					<div class="grid-item" style="text-align: left;font-size: 12px;">
						<span>December 2017</span>						
					</div>
					<div class="grid-item" style="text-align: right;font-size:12px;">
						<a href="/Shallow-Foundation-231-Cobourg">More Info</a>
					</div>		
				</div>		
				
				<p>
					A shallow raft-foundation design for a proposed eight-story condomium at 231 Coburg Ave, Ottawa, Ontario. The site at Cobourg Avenue is unique
					in that beneath a thin layer of sand rests a deep layer of Leda Clay close to the water-table. Leda Clay is known to liquify under pressure when 
					saturated, so increased safety measures were considered in the design. 
				</p>
			</div>

			<div class="portfolio-item" id="CHARS-Design" style="display: none;">
				<!--div class="image"></div-->	
				
				<h2>Waste-to-Energy Plant Design to Service Canadian High Arctic Research Station.</h2>
				<div class="grid-container" style="grid-template-columns: 300px auto;">
					<div class="grid-item" style="text-align: left;font-size: 12px;">
						<span>Winter 2018</span>						
					</div>
					<div class="grid-item" style="text-align: right;font-size:12px;">
						<a href="/CHARS-Design-Report">More Info</a>
					</div>		
				</div>		
				<p>
					A design for a waste-to-energy plant to be built in the High Arctic. This building was designed to reduce Cambridge Bay's ecological footprint 
					while meeting its growing energy needs. With the knowledge gained from the earlier conducted feasibility study, a light-weight building was 
					designed which would sit a few feet above the permafrost on socketed piles. This building also featured sate of the art insulation materials.
					This report was presented to professors in the University of Ottawa's Civil Engineering Department.
				</p>
			</div>

			<div class="portfolio-item" id="TenthLine-Foundation" style="display: none;">
				<!--div class="image"></div-->	
				
				<h2>Foundation Design for a New Commercial Building at Tenth Line.</h2>
				<div class="grid-container" style="grid-template-columns: 300px auto;">
					<div class="grid-item" style="text-align: left;font-size: 12px;">
						<span>March 2020</span>						
					</div>
					<div class="grid-item" style="text-align: right;font-size:12px;">
						<a href="/Foundation-for-Tenth-Line">More Info</a>
					</div>		
				</div>		
				<p>
					A pile foundation design for a proposed development at Tenth Line, Ottawa, Ontario. Iterative design was used to develop a suitable foundation 
					in primarily sand. Site data was determined from borehole logs taken on site. 
				</p>			
			</div>
			
			<div class="portfolio-item" id="FTWT-Notes" style="display: none;">
				<!--div class="image"></div-->	
				
				<h2>Notes on Wavelets and the Extended Fourier Transform.</h2>
				<div class="grid-container" style="grid-template-columns: 300px auto;">
					<div class="grid-item" style="text-align: left;font-size: 12px;">
						<span>Spring 2020</span>						
					</div>
					<div class="grid-item" style="text-align: right;font-size:12px;">
						<a href="/Wavelets-and-Extended-Fourier">More Info</a>
					</div>		
				</div>		
				<p>
					An investigation into the abilities of Wavelets and the Extended Fourier Transform(EFT) to uncover a signal's underlying properties. Originally
					intended to determine the viability of Wavelets and EFT in algorithmic trading this investigation revealed interesting features of signals at 
					varying frequencies.
				</p>
			</div>

			<div class="portfolio-item" id="CGTD" style="display: none;">
				<!--div class="image"></div-->	
				
				<h2>Computer generated training data.</h2>
				<div class="grid-container" style="grid-template-columns: 300px auto;">
					<div class="grid-item" style="text-align: left;font-size: 12px;">
						<span>Autumn 2020</span>						
					</div>
					<div class="grid-item" style="text-align: right;font-size:12px;">
						<a href="/Computer-Generated-Training-Data">More Info</a>
					</div>		
				</div>		
				<p>
					A pipeline to create segmented data in several prominent segmented image formats: YOLO and COCO for example. Virtual rooms were procedurally 
					generated in blender and sequences of images, with corresponding segments for objects and walls, were generated. Three dimensional vertices 
					defining objects in-frame were projected onto the image plane and reduced to only those necessary to express the object's silhouette. Then
					the segmented data is converted to the desired format. The aim was to determine if a neural network could learn from computer generated graphics. 
				</p>
			</div>

			<div class="portfolio-item" id="Parametric-Space" style="display: none;">
				<!--div class="image"></div-->	
				
				
				<h2>Parametric Space.</h2>
				<div class="grid-container" style="grid-template-columns: 300px auto;">
				<div class="grid-item" style="text-align: left;font-size: 12px;">
					<span>Sutumn 2020</span>						
					</div>
					<div class="grid-item" style="text-align: right;font-size:12px;">
						<a href="/Parametric-Space">More Info</a>
					</div>		
				</div>		
				<p>
					A quick investigation into how space could be parametrized, partly undertaken as a part of Computer Generated Training Data. A design pattern 
					which related pseudoranom elements to collective expresion was coded such that random collections of spaces following this pattern could be 
					generated. 
				</p>
			</div>

			<div class="portfolio-item" id="WaveGAN" style="display: none;">
				<!--div class="image"></div-->	
				
				
				<h2>WaveGAN.</h2>
				<div class="grid-container" style="grid-template-columns: 300px auto;">
					<div class="grid-item" style="text-align: left;font-size: 12px;">
						<span>Winter 2021</span>						
					</div>
					<div class="grid-item" style="text-align: right;font-size:12px;">
						<a href="/WaveGAN">More Info</a>
					</div>		
				</div>		
				<p>
					An investigation into the temporal variation of entropioc signals, as revealed by time windowing its wavelet transform. A generative adversarial
					neural network was then developed which sought to lean how the wavelet transform of a signal varied with time and would therefore be able to 
					extrapolate it forward. 
				</p>
			</div>

			<div class="portfolio-item" id="CryptoAI-Proposals" style="display: none;">
				<!--div class="image"></div-->	
				
				<h2>Proposals for a Trading AI.</h2>
								<div class="grid-container" style="grid-template-columns: 300px auto;">
					<div class="grid-item" style="text-align: left;font-size: 12px;">
						<span>Winter 2022</span>						
					</div>
					<div class="grid-item" style="text-align: right;font-size:12px;">
						<a href="/Cryptocurrency-AI">More Info</a>
					</div>		
				</div>		
				<p>
					An overview of an AI designed to trade Cryptocurrency. Modelling financial markets a stochastic process, the proposed AI implements generative 
					adversarial networks to make reasonable price predictions.  Wavelets are also implemented in order to reveal lower frequency trends. Implicit 
					in this design is the cyclical nature of seemingly random events.
				</p>
			</div>

			<div class="portfolio-item" id="Skyrim-TrueNord" style="display: none;">
				<!--div class="image"></div-->	
				
				<h2>Elder Scrolls V Skyrim - True Nord Edition.</h2>
								<div class="grid-container" style="grid-template-columns: 300px auto;">
					<div class="grid-item" style="text-align: left;font-size: 12px;">
						<span>Winter 2022</span>						
					</div>
					<div class="grid-item" style="text-align: right;font-size:12px;">
						<a href="/Skyrim-TNE">More Info</a>
					</div>		
				</div>		
				<p>
					A graphical overhaul and gameplay rebalance/rework aimed on focusing Bethesda's Elder Scrolls V Skyrim on the human aspect. The vanilla game echoes 
					many modern ideas but these are easy to miss amidst all of Skyrim's magic and sorcery. The True Nord Edition refocuses the game such that these 
					ideas are more prevalent. 
				</p>			
			</div>

			<div class="portfolio-item" id="AIArt" style="display: none;">
				<!--div class="image"></div-->	
				
				<h2>AI &amp Art.</h2>
				<div class="grid-container" style="grid-template-columns: 300px auto;">
					<div class="grid-item" style="text-align: left;font-size: 12px;">
						<span>Summer 2022</span>						
					</div>
					<div id="moreinfo" class="grid-item" style="text-align: right;font-size:12px;">
						<a href="/AI-Art">More Info</a>
					</div>		
				</div>		
				<p>
					An exploration of AI's role in creative work. Primarly consisting of practical analysis, several different AI architectures were studied to 
					obtain a deeper understanding AI's role in creative space. 
				</p>
			</div>

			

			


			<!--
			<dt class="collapsible"><a href="/Misc-Sketches">Miscellaneous Sketches.</a></dt>
			<dd class="content">
				<h4>2010 - 2016</h4>
				<p>
					An informal selection of sketches; most of these were drawn in notebooks inbetween lectures and meetings.
				</p>
			</dd>
			--> 


			<!--
			<dt class="collapsible"><a href="/TDSB-Architecture">An Investigation into the Architecure of Toronto's Public Schools.</a></dt>
			<dd class="content">
				<h4>Summer 2017</h4>	
				<p>
					A study of Toronto's sociopolitical landscape leading to the current architecture of the Toronto District School Board's (TDSB) schools.
					This study was primarily focused on how major changes in TDSB administration , and changing ideologies concerning education, are reflected
					in the architecture of Toronto's public schools.
				</p>
			</dd>
			-->
			
			
			<!--
			<dt class="collapsible"><a href="/AI-Art">Miscellaneous Works.</a></dt>
			<dd class="content">
				<h4>Summer 2022</h4>
				<p>

				</p>
			</dd>	
			-->
		</div>
		
		
		<script>
			function showDetails(element) {
				var linkeditem = element.href.split("#")[1]
				var item = document.getElementById(linkeditem).getElementsByClassName("grid-item")[1].getElementsByTagName('a')[0];
				console.log(item);
				window.location.replace(item.href);				
			}
			
			
			function showItem(element){
				const items = document.getElementsByClassName("portfolio-item");
				
				for (var i = 0; i < items.length; i++) {
					items[i].style.display = "none";
				}
				var linkeditem = element.href.split("#")[1]
				var item = document.getElementById(linkeditem);
				item.style.display = "";
			}
			
			var indexitems = document.getElementsByClassName("index-item");
			var i;
			
			for (var i = 0; i < indexitems.length; i++) {
				indexitems[i].addEventListener("mouseover",function(){
					showItem(this);
				});	
				
				indexitems[i].addEventListener("click",function(){
					showDetails(this);
				});
			}
			
			
			
			
		</script>		
	</body>
</html>



<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Portfolio</title>
	
	<link href="/css/main_stylesheet.css" rel="stylesheet" type="text/css">
	
	<style>
		p {
			width: 100%;
			
		}
				
		dd p {
			padding:0px 0px 0px 0px;
			font-size:14px;
		}		
	</style>
</head>

<body>

	
	
	</dl>	
		

	
</body>
</html>
