@charset "utf-8";
/* CSS Document */
.grid-container{
	display:grid;
	gap: 10px;
	grid-template-columns: repeat(4,auto);
	width: 100%;
	padding:0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	max-width: 800px;
}

.grid-item {
	text-align: center;
	padding: 0px;
	font-size:20px;
}

.grid-item a {
	font-size:14px;
}