@charset "utf-8";
/* CSS Document */

body { font-family: Helvetica,Arial;}

a:link {text-decoration:none;color:black}
a:hover {text-decoration:none;color:inherit;font-weight: bold}
a:focus {text-decoration:none;color:inherit;font-weight:bold}
a:visited {text-decoration:none;color:inherit}