<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>About TNE</title>
	
<link href="../../assets/css/style.css" rel="stylesheet" type="text/css">
<link href="../../assets/css/Sliders.css" rel=stylesheet type="text/css">

	
	
<link href="/css/style.css" rel="stylesheet" type="text/css">
<link href="/css/Sliders.css" rel="stylesheet" type="text/css">
		
<style>
	body {
		color:white;
		background-color:black;
		margin:auto;
	}
	
	a {
		font-size:20px;
		color:white;
	}
	
	a:hover {
		text-shadow: 0 0 0.1px white;
	}
	
	p,h2,h1 {
		margin:auto;
		width: 80%;	
		text-align: justify;
		max-width: 800px;
	}
	
	h1, h2 {
		text-align: left;
	}
	
	img {
		padding:0px 0px 50px 0px;
		width:100%;
		align-content: center;
		max-width:2000px;
	}
	
	p {
		font-size: 20px;
		padding: 0px 0px 100px 0px;
	}
	
	.description {
		padding: 50px 0px 25px 0px;
	}
	

	
</style>	
</head>
	
	<body>
		<div class="grid-container" style="padding:50px 0px 30px 0px;">
			<div class="grid-item">
				<a href="/Skyrim-TNE">Overview</a>
			</div>
			<div class="grid-item">
				<a href="/Skyrim-TNE/Images">Images</a>
			</div>
			<div class="grid-item">
				<a href="/Skyrim-TNE/BeforeAndAfter">Before &amp After</a>
			</div>
			<div class="grid-item">
				<a href="/Skyrim-TNE/Images">Videos</a>
			</div>
		</div>
		<img id="ts" src="https://chi01pap001files.storage.live.com/y4mpfoTg532KlodrPqJAxW3ZD4_Z8MH208j9qRwIDMtW7pYMrmqjJrC5TT2DONUtMUQhJ4Est9YOYnjYPNkWSkTOlZOTziWBxe86-kmPmM7pIJsZJXwacrjr_Em7cP2a_BuquGV_Auh9jTst_BKqP76wGfq7lBiuT8iY6xLywkql_BqP2qwo3RKsoJXuM5YmHyY?width=3840&height=1989&cropmode=none">

		<br>
		<h2 class="description"> Skyrim is a beautiful, cold, and dangerous place where people must come together to survive. </h3>
		<p> 
			To focus gameplay on relationships, the difficulty of all enemies was increased such that venturing into Skyrim’s 
			wilderness alone almost certainly spells death for all but the highest-level adventurers; and a system was added 
			by which players can develop relationships with friendly NPCs, who might then choose to join the player in their 
			adventure. 
		</p>
		<br>

		<img id="lbs" src="https://chi01pap001files.storage.live.com/y4mc5HRS9s-ads0zs9lyEyp1at2-nxrndr8z9vFHjWTkbjJ35GklClxAQ8fJs7Cb_QDo4hR4b0soB5Uq0_HV2rT-nRCRpRqHhFPq1a8ZDTfJlMvNH-mtO-UdMHR7IHY3Z_W9QHCXM2XGTypmfqP7SnktTdpjawm3WtR-_nMT5soX_aYdd_ujccB209GlrSL9SAz?width=2560&height=1326&cropmode=none">

		<br>
		<h2 class="description">A living, breathing world where the player’s actions have an impact. </h3>
		<p> 
			Each NPC is made unique via random stat and model assignments, and can be leveled up and equipped with weapons, 
			spells, and armor. Added new quests, many of which are focused on developing personal, and sometimes romantic, 
			relationships with the locals. NPCs fulfilling new societal roles and an interactive economy which responds to 
			the player’s actions were added. 
		</p>. 
		<br>

		<img id="dbs" src="https://chi01pap001files.storage.live.com/y4mXMWhWv8UGMM6MPe-Hik4IbHB08XlcafM6CLMX__dc8ZyeUm_Cq2RXFBnYqjalXI4g4IUVYdbx5VP0AMwISmakAGis0SO14hSeLL3n2KG6wAkLg26XA525srVXQTr9hglK4Issm7pjX-gRpGl_mZrgxIssl81HAyD3hqUlPHLr-hIvJRajB1u7XmHwkbrd8Kv?width=3840&height=2001&cropmode=none">

		<br><hr>
		
		<div class="grid-container" style="padding:10px 0px 20px 0px;">
				<div class="grid-item">
				<a href="/">Home</a>
			</div>

			<div class="grid-item">
				<a href="/Portfolio">Portfolio</a>
			</div>

			<div class="grid-item">
				<a href="/WorkExperience">Work Experience</a>
			</div>

			<div class="grid-item">
				<a href="/Skyrim-TNE/Videos">Education</a>
			</div>
		</div>	
	</body>
</html>