<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Skyrim True Nord Edition</title>
	
	<link href="../../assets/css/main_stylesheet.css" rel="stylesheet" type="text/css">	
	<link href="../../assets/css/skyrim_stylesheet.css" rel="stylesheet" type="text/css">	
	
	<link href="/css/main_stylesheet.css" rel="stylesheet" type="text/css">
	<link href="/css/skyrim_stylesheet.css" rel="stylesheet" type="text/css">		
<style>
</style>	
</head>
	
<body onLoad="LoadImages();">
	<div class="grid-container" style="padding:100px 0px 50px 0px;">
		<div class="grid-item">
			<a href="/Skyrim-TNE/About">About</a>
		</div>
		<div class="grid-item">
			<a href="/Skyrim-TNE/Images">Images</a>
		</div>
		<div class="grid-item">
			<a href="/Skyrim-TNE/BeforeAndAfter">Before &amp After</a>
		</div>
		<div class="grid-item">
			<a href="/Skyrim-TNE/Videos">Videos</a>
		</div>
	</div>
	
	<img id="ts" src="https://chi01pap001files.storage.live.com/y4m6mSiTOL_hx5gXE_vi1RmsW-Fub_9tihTG_iG1PWbHoUqqFA0YMSvhPFQbfPLU5Q9zIzVZM-dr5o25rzoI0gnfXAZ8eyGs8JkMnzVZ08vaH2aKIqVhCjvpkFJ5oKr0P8G_LEmE95nhzydXgueZmMQyrJBtQe0uPaJpAYc-yF-RD9V8yWnkzv2_sGCP0kiReOr?width=3840&height=1974&cropmode=none">
	<h1 style="padding:40px 0px 25px 0px;">Elder Scrolls V Skyrim <br>True Nord Edition</h1>
	<h2 style="padding:0px 0px 50px 0px;">A rework and expansion of Bethesda's Elder Scrolls V Skyrim, with a focus on relationships.</h2>
	
	<hr>
	<div class="grid-container">
		<div class="grid-item">
			<a href="/">Home</a>
		</div>

		<div class="grid-item">
			<a href="/Portfolio">Portfolio</a>
		</div>

		<div class="grid-item">
			<a href="/Work-Experience">Work Experience</a>
		</div>

		<div class="grid-item">
			<a href="/Education">Education</a>
		</div>
	</div>	
	
	<p>
	</p>
</html>