<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Videos</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
		<link href="/css/main_stylesheet.css" rel="stylesheet" type="text/css">
		<link href="/css/skyrim_stylesheet.css" rel="stylesheet" type="text/css">

		<style>
			h1 {
				text-align: center;
			}
			
			iframe {
				position: absolute;
				top: 0;
				left:0;
				width:100%;
				height:100%;
			}

			.description {
				padding: 100px 0px 25px 0px;
			}	
			
			.videobox {
				position: relative;
				padding-bottom: 56.25%;
			}
			
		</style>	
	</head>
	
	<body>
		<div class="grid-container" style="padding:100px 0px 00px 0px;">
			<div class="grid-item">
				<a href="/Skyrim-TNE/About">About</a>
			</div>
			<div class="grid-item">
				<a href="/Skyrim-TNE/Images">Images</a>
			</div>
			<div class="grid-item">
				<a href="/Skyrim-TNE/BeforeAndAfter">Before &amp After</a>
			</div>
			<div class="grid-item">
				<a href="/Skyrim-TNE">Overview</a>
			</div>
		</div>
		<h1 style="padding:25px 0px 25px 0px;">Videos</h1>
		
		
		<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>

				  <!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<div class="videobox"><iframe width="560" height="315" src="https://www.youtube.com/embed/8jCSiCTI-jw" title="YouTube video player" frameborder="0" allowfullscreen></iframe></div>
				</div>

				<div class="item">
					<div class="videobox"><iframe width="560" height="315" src="https://www.youtube.com/embed/wylylex8kE4" title="YouTube video player" frameborder="0" allowfullscreen></iframe></div>
				</div>

				<div class="item">
					<div class="videobox"><iframe width="560" height="315" src="https://www.youtube.com/embed/--H0DhGT3DY" title="YouTube video player" frameborder="0" allowfullscreen></iframe></div>
				</div>
			</div>

				  <!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</a>
			
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
		
		<p>
		</p>

		<hr>
		<div class="grid-container" style="padding:10px 0px 20px 0px;">
			<div class="grid-item">
				<a href="/">Home</a>
			</div>
			<div class="grid-item">
				<a href="/Portfolio">Portfolio</a>
			</div>
			<div class="grid-item">
				<a href="/Work-Experience">Work Experience</a>
			</div>
			<div class="grid-item">
				<a href="/Education">Education</a>
			</div>
		</div>	
		
		
	
	</body>
</html>