<header><h1>Selected Images Created With AI</h1></header>

<hr>
<nav class="app-simple-nav">
    <% page.primaryNav.forEach(function (link) { %>
        <a href="<%= link.href %>"><%= link.label %></a>
    <% }); %>
</nav>

<p></p>
